*{margin:0;padding:0; -webkit-tap-highlight-color: rgba(0,0,0,0);outline-style: none;}
body{font-size:100%;font-family:"微软雅黑";background-color: #f1f1f1;}
ul,li{list-style:none;margin:0;padding:0;}
select,input,form{font-size:100%;vertical-align:middle;font-family:"微软雅黑";border: none;}
img{border:0;}
h1,h2,h3,h4,h5,h6,p{font-size:100%;font-weight:normal;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:none;}
html,body{width: 100%;height: 100%;overflow: hidden;}
input[type="button"], input[type="submit"], input[type="search"], input[type="reset"],input[type="text"],input[type="tel"] {
    -webkit-appearance: none;
}


.wrapper{width: 100%;  position: absolute; top: 0px; bottom: 0; background-color: #fff;}
.details{ padding: 0 15px;height: 100%; overflow: auto; background-color: #fff;-webkit-overflow-scrolling : touch;}
.explain{color: #989898;line-height: 20px;font-size: 12px; padding-top: 10px;}
.details h1{color: #1d1d1d; line-height: 24px;font-size: 14px;}
.details p{color: #797979; line-height: 20px;font-size: 12px; }
.details p:last-child{padding-bottom: 20px;}